jobs:
  include:
    #- os: linux => removing for the moment because it seems incompatible with heroku, but it does get selected/downloaded by yarn
     # dist: bionic
    - os: osx
      osx_image: xcode9.4
language: node_js
node_js:
  - 10

cache:
  - yarn: true
  - cargo: true

before_install:
  # Install Rust and Cargo
  - curl https://sh.rustup.rs -sSf > /tmp/rustup.sh
  - sh /tmp/rustup.sh -y
  - export PATH="$HOME/.cargo/bin:$PATH"
  - source "$HOME/.cargo/env"
  # Install NPM packages
  - node -v
  - npm -v
  - yarn global add yarn@latest
  - yarn
script:
  - yarn jest
  - COMMIT_MESSAGE=$(git log --format=%B --no-merges -n 1 | tr -d '\n')
  - yarn upload-binary || exit 0;